 .el {
     margin: 100px auto 0 auto;
     background-color: brown;
     height: 200px;
     width: 200px;
     transform-origin: right;
     transition: all 1s linear;



 }

 .el:hover {
     transform: rotate(45deg);
     background-color: aquamarine;

 }

 .wrap {
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     perspective: 1000px;
 }

 h1 {
     position: absolute;
     z-index: -1;
 }

 .door {
     width: 300px;
     height: 300px;
     background-color: rgb(226, 43, 43);
     transition: all 1s;
 }

  .door_left {
     transform-origin: left;
 }

 .door_right {
     transform-origin: right;
 }

 .wrap:hover .door_left {
     transform: rotateY(50deg);
 }

 .wrap:hover .door_right {
     transform: rotateY(-50deg);
 } 
 /* .boxs{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin-left: 50px;
 }
 .boxs-1{
    background-color: black;
 }
 .boxs-2{
    background-color: aqua;
    margin-left: 0;
 }
 .boxs-3{
    background-color: chartreuse;
 } */ 